<%= stylesheet_link_tag "templates/" + current_user.template, media: 'all' %>

<div id="left-part">
  <div id="first-name"><%= current_user.first_name.upcase %></div>
  <div id="last-name"><%= current_user.last_name.upcase %></div>
  <div id="headline"><%= current_user.headline.upcase %></div>
  <img src="<%= current_user.linkedin_picture_url %>" alt="<%= current_user.fullname %> picture" id="avatar">

  <div id="infos">INFOS</div>
  <ul>
    <li><%= current_user.location_name %></li>
    <li><%= current_user.email %>&nbsp;&nbsp;<i class="far fa-envelope"></i></li>
    <li><%= current_user.linkedin_profile_url %>&nbsp;&nbsp;<i class="fab fa-linkedin"></i></li>
  </ul>

  <div class="bar"></div>

  <!-- SKILLS section -->
  <div class="section-title">SKILLS</div>
  <ul id="list-skills">
    <% current_user.skills.each do |skill| %>
      <li><%= skill.name %> <%= (skill.level * 100).round %>%
        <div class="skill-level-bar-100">
          <div class="skill-level-bar"
            style="width: <%= skill.level * 130 %>pt"></div>
        </div>
      </li>
    <% end %>
  </ul>
</div>

<!-- RIGHT PART -->
<div id="right-part">

  <!-- EXPERIENCE section-->
  <div class="section-title">EXPERIENCE</div>
  <% current_user.positions.each do |position| %>
    <div class="element">
      <div class="date">
        <%= position.start_date.strftime("%b %Y")%> </br> <%= position.is_current ? "Actual" : position.end_date.strftime("%b %Y")%>
      </div>
      <div class="element-content">
        <div class="title"><%= position.title.upcase %></div>
        <div class="company"><%= position.company_name %></div>
        <div class="summary"><%= position.summary %></div>
      </div>
      <div class="bar"></div>
    </div>
  <% end %>

  <!-- EDUCATION section -->
  <div class="section-title">EDUCATION</div>
  <% current_user.educations.each do |education| %>
    <div class="element">
      <div class="date">
        <%= education.start_date.strftime("%b %Y")%> </br> <%= education.end_date.strftime("%b %Y")%>
      </div>
      <div class="element-content">
        <div class="degree"><%= education.degree.upcase %></div>
        <div class="school"><%= education.school_name %></div>
        <div class="summary"><%= education.notes %></div>
      </div>
      <div class="bar"></div>
    </div>
  <% end %>

</div>




