<%= simple_form_for(position, remote: true) do |f| %>

  <div class="section-row border-bottom-white" id="position-first-row">
    <% if position.company_ticker_url %>
      <img src="<%= position.company_ticker_url %>" class= "company-logo" alt="">
    <% end %>
    <div class="section-attribute">
      <p class="label-name">Company</p>
      <h4 class="section-attribute-value title"><%= position.company_name %></h4>
      <%= f.input :company_name, required: true, label: false, autofocus: true %>
    </div>
  </div>

  <div class="section-row border-bottom-white" id="position-second-row">
    <div class="section-attribute">
      <p class="label-name">Title</p>
      <h4 class="section-attribute-value title"><%= position.title %></h4>
      <%= f.input :title, required: true, label: false %>
    </div>
    <div class="section-attribute">
      <p class="label-name">Date</p>
      <h4 class="section-attribute-value start_date"><%= position.start_date.strftime("%b %Y") %> - <%= position.is_current ? "Today" : position.end_date.strftime("%b %Y")%></h4>
      <%= f.input :start_date, required: true, label: false %>
      <%= f.input :end_date, required: true, label: false %>
      <%= f.input :is_current, required: true, label: false %>
    </div>
  </div>

  <div class="section-row" id="position-last-row">
    <div class="section-attribute">
      <p class="label-name">Summary</p>
      <p class="section-attribute-value summary"><%= position.summary %></p>
      <%= f.input :summary, required: true, label: false %>
    </div>
  </div>

  <div class="form-actions section-row">
    <%= f.button :submit, "Save", class: "save-button" %>
  </div>

  <%= link_to position_path(position), method: :delete, data: { confirm: "Are you sure?" }, remote: :true do %>
  <i id="position-delete-icon" class="fas fa-trash-alt"></i>
<% end %>
<% end %>
