<%= render "shared/landing" %>

<!-- ARROW SECTION -->
<div class="row">
  <div class="col-xs-12 col-md-4 rectangle" id="left-rectangle">
    <span class="step">
      <%= user_signed_in? ? content_tag(:i, "", class: ["fas", "fa-check", "green"]) : 1 %>
    </span>
    <span class="rectangle-text">Login / Sign up</span>
  </div>
  <div class="col-xs-12 col-md-4 rectangle" id="center-rectangle">
    <span class="step" id="step-2">2</span>
    <span class="rectangle-text">Pick a template</span>
    <div class="triangle" id="left-triangle"></div>
  </div>
  <div class="col-xs-12 col-md-4 rectangle" id="right-rectangle">
    <span class="step">3</span>
    <span class="rectangle-text">Download your resume!</span>
    <div class="triangle" id="center-triangle"></div>
  </div>
</div>

<!-- RESUME SECTION -->

<div class="wrapper-site">
  <div class="row">
    <h3 class="section-title">Pick a template</h3>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="template" data-template="finance" style="background-image: url('<%= image_path "Resume.jpg"%>')"></div>
      <h4 class= "template-title">Finance</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="template" data-template="law" style="background-image: url('<%= image_path "Resume.jpg"%>')"></div>
      <h4 class= "template-title">Law</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="template" data-template="design" style="background-image: url('<%= image_path "Resume.jpg"%>')"></div>
      <h4 class= "template-title">Design</h4>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="template" data-template="tech" style="background-image: url('<%= image_path "Resume.jpg"%>')"></div>
      <h4 class= "template-title">Tech</h4>
    </div>
  </div>
  <% if user_signed_in? %>
    <%= simple_form_for current_user do |f| %>
      <%= f.input :template, label: false %>
      <%= f.button :submit, value: 'View my new resume', class: 'custom-btn-big btn-inactive', id: "btn-to-editor" %>
    <% end %>
  <% else %>
    <%= link_to 'View my new resume', editor_path, class: 'custom-btn-big', id: "btn-to-editor" %>
  <% end %>
</div>

<!-- TWEETS SECTION -->

<div class="wrapper-site wrapper-blue">
  <div class="row">
    <h3 class="section-title" id="tweets-section">They recommend us</h3>
    <div class="col-xs-12 col-sm-4">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Recruiters on LinkedIn: &quot;I saw your work as a lead developer, it looks great! I think you&#39;d be a great fit for this entry-level email template developer position&quot;</p>&mdash; Kelly Vaughn (@kvlly) <a href="https://twitter.com/kvlly/status/998054447988269056?ref_src=twsrc%5Etfw">May 20, 2018</a></blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-xs-12 col-sm-4">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Recruiters on LinkedIn: &quot;I saw your work as a lead developer, it looks great! I think you&#39;d be a great fit for this entry-level email template developer position&quot;</p>&mdash; Kelly Vaughn (@kvlly) <a href="https://twitter.com/kvlly/status/998054447988269056?ref_src=twsrc%5Etfw">May 20, 2018</a></blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
    <div class="col-xs-12 col-sm-4">
      <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Recruiters on LinkedIn: &quot;I saw your work as a lead developer, it looks great! I think you&#39;d be a great fit for this entry-level email template developer position&quot;</p>&mdash; Kelly Vaughn (@kvlly) <a href="https://twitter.com/kvlly/status/998054447988269056?ref_src=twsrc%5Etfw">May 20, 2018</a></blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</div>
