<!-- SECTION HEADER -->
<div class="collapsed section-header" type="button" data-toggle="collapse" data-target="#experiences" aria-expanded="false" aria-controls="collapseThree">
  <div class="display-flex">
    <i class="fas fa-file-alt section-icon"></i>
    <div>EMPLOYMENT HISTORY</div>
  </div>
  <i class="fas fa-chevron-right chevron"></i>
</div>

<!-- SECTION CONTENT -->
<div id="experiences" class="collapse section-content" aria-labelledby="experiences" data-parent="#accordion">

  <%= simple_form_for(user, remote: true) do |f| %>

    <div class="section-row">
      <img src="<%= current_user.linkedin_picture_url%>" id= "personnal-image" alt="">
      <div class="section-attribute" id="first-name">
        <p class="label-name">First name</p>
        <div class="section-attribute-value">
          <h4><%= current_user.first_name %></h4>
          <%= f.input :first_name, required: true, label: false, autofocus: true %>
        </div>
      </div>
      <div class="section-attribute" id="last-name">
        <p class="label-name">Last name</p>
        <div class="section-attribute-value">
          <h4><%= current_user.last_name %></h4>
          <%= f.input :last_name, required: true, label: false %>
        </div>
      </div>
    </div>

    <div class="section-row">
      <div class="section-attribute" id="headline">
        <p class="label-name">Headline</p>
        <div class="section-attribute-value">
          <h4><%= current_user.headline %></h4>
          <%= f.input :headline, required: false, label: false, :as => "string" %>
        </div>
      </div>
    </div>

    <div class="section-row last-section-row">
      <div class="section-attribute" id="location">
        <p class="label-name">From</p>
        <div class="section-attribute-value">
          <h4><%= current_user.location_name %></h4>
          <%= f.input :location_name, required: false, label: false %>
        </div>
      </div>
      <div class="section-attribute" id="email-address">
        <p class="label-name">Email Address</p>
        <div class="section-attribute-value">
          <h4><%= current_user.email %></h4>
          <%= f.input :email, required: true, label: false %>
        </div>
      </div>
    </div>

    <div id="personnal-edit-buttons" class="section-row">
      <div class="form-actions">
        <%= f.button :submit, "Save changes", id: "personnal-save-button" %>
      </div>
    </div>

  <% end %>

  <i id="edit-personnal-details" class="fas fa-pencil-alt"></i>
</div>

