<!-- SECTION HEADER -->
<div class="collapsed section-header" type="button" data-toggle="collapse" data-target="#skills" aria-expanded="false" aria-controls="collapseTwo">
  <div class="display-flex">
    <i class="fas fa-bolt section-icon"></i>
    <div>SKILLS</div>
  </div>
  <i class="fas fa-chevron-right chevron"></i>
</div>

<!-- SECTION CONTENT -->
<div id="skills" class="collapse section-content" aria-labelledby="skills" data-parent="#accordion">

  <div id="skills-flex">

    <% skills.each do |skill| %>

      <%= simple_form_for(skill, remote: true) do |f| %>

        <div class="skill" id="skill-<%= skill.id %>">

          <div class="skill-name"><%= skill.name %></div>
          <%= f.input :name, required: false, label: false %>

          <div class="form-actions">
            <%= f.button :submit, "Save", class: "skills-save-button" %>
          </div>

          <i skill-id="<%= skill.id %>" class="fas fa-pencil-alt edit-skill"></i>

        </div>

      <% end %>

    <% end %>

  </div>

  <h2 id="new-skill-header">Add a new skill</h2>
  <div id="new-skill">
    <div id="plus">
      <i class="fas fa-plus"></i>
    </div>
  </div>

</div>

